<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Hospitalito</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div class="contenedor">
        <form class="form" action="/login" method="POST" id="form">
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" id="user" autocomplete="off">
            <label for="contrasenia">Contraseña</label>
            <input type="password" name="contrasenia" id="password">
            <input type="submit" value="Inicia Sesion">
            <button type="reset" name="eliminar">Elimina</button>
        </form>
    </div>
</body>

</html>