<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Hospitalito</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="principal_styles.css">
    <style>
        header div{
            width: 100px;
            background-color: red;
        }
    </style>
</head>
<body>
    <header>
        <h1>MedicCloud</h1>
        <div>
            <a href="/">Salir</a>
        </div>
    </header>
    <div>
        <ul>
            <li>
                <a href="alta_doctor">Dar alta doctor</a>
            </li>
            <li>
                <a href="citas">Dar cita</a>
            </li>
            <li>
                <a href="alta_paciente">Dar de alta paciente</a>
            </li>
        </ul>
    </div>
</body>
</html>