body{
    margin: 0;
    padding: 0;
    background-color: #C9CAF8;
}
header{
    background-image: url(background.jpg);
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: 30%;
}
header h1{
    margin: 10px auto;
    color: white;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 2.5px;
}